.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.*/
  flex: 1 1 auto;
}

.background-primary{
  background: #e44d3a;
}

.menu-title{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -15px;
}

.toolbar-buttons{
  display: flex;
  text-align: center;
  margin-right: 20px;
}

.toolbar-container{
  margin-right: auto;
  margin-left: auto;
}

.white-text{
  color: white;
}

.search-form{
  margin-left: 50px;
  background: white;
  color: #b2b2b2;
  padding-left: 10px;
  max-width: 300px;
  min-width: 120px;
  border-radius: 10px;
}

.search-input{
  height: 100%;
  text-align: left;
  padding: 3px 0;
  float: left;
}

.search-button{
  padding: 7px 7px;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-icon{
  transform: rotate(90deg);
  color: #e44d3a;
}

.main-content{
  display: flex;
  text-align: center;
}

.container{
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.image-contain{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.vertical-margin{
  margin-top: 20px;
  margin-bottom: 20px;
}

.border-top{
  border-top: 4px solid #e44d3a;
}

.float-right{
  float: right;
}

.textarea{
  width: 100%;
}
