<mat-toolbar color="primary">
  <mat-toolbar-row class="background-primary">
    <span class="margin-left-auto">Erasmus</span>
      <form [formGroup]="form" class="search-form margin-right-auto">
        <div>
            <label class="search-input">
              <input matInput placeholder="Search...">
            </label>
            <button type="submit" class="search-button">
              <i class="material-icons search-icon">search</i>
            </button>
        </div>
      </form>
    <div class="toolbar-container margin-right-auto">
      <div class="toolbar-buttons">
        <div [routerLink]="'/home'">
          <div>
            <img width="20" height="20" src="../../../assets/img/home_white.png">
          </div>
          <div class="menu-title white-text">
            <a>Home</a>
          </div>
        </div>
        <div [routerLink]="'/home'">
          <div>
            <img width="20" height="20" src="../../../assets/img/home_white.png">
          </div>
          <div class="menu-title white-text">
            <a>Friends</a>
          </div>
        </div>
        <div [routerLink]="'/home'">
          <div>
            <img width="20" height="20" src="../../../assets/img/home_white.png">
          </div>
          <div class="menu-title white-text">
            <a>Events</a>
          </div>
        </div>
        <div [routerLink]="'/home'">
          <div>
            <img width="20" height="20" src="../../../assets/img/home_white.png">
          </div>
          <div class="menu-title white-text">
            <a>Chat</a>
          </div>
        </div>
      </div>
    </div>
    <div routerLink="home" routerLinkActive="active" class="margin-right-auto">Log Off</div>
  </mat-toolbar-row>
</mat-toolbar>

<!--Body of the Web Page-->
<div class="container">
  <div class="main-content">
    <!--Left Column-->
    <div class="col-md-3 col-sm-3">
      <mat-card class="vertical-margin no-padding">
        <div style="height: 250px">
          <div style="background: #e44d3a; height: 50%">
            <div class="personal-icon">
              <img class="image-contain" src="../../../assets/img/default_user.png"/>
            </div>
          </div>
          <div style="height: 70%">
            <div class="personal-info-container">
              <div class="personal-name">
                Name
              </div>
              <div class="personal-status">
                Status
              </div>
            </div>
          </div>
        </div>
        <div class="personal-item">
          <p class="personal-item-title">Following</p>
          25
        </div>
        <div class="personal-item">
          <p class="personal-item-title">Followers</p>
          35
        </div>
      </mat-card>
    </div>
    <!--Middle Column-->
    <div class="col-md-7">
      <!--Post Card-->
      <div>
        <mat-card class="vertical-margin border-top">
          <div>
            <mat-form-field class="textarea">
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="3"
                          cdkAutosizeMaxRows="7"></textarea>

            </mat-form-field>
          </div>
          <div>
            <button mat-raised-button class="background-primary white-text">Post</button>
          </div>
        </mat-card>
      </div>
      <!--Wall Card-->
      <div>
        <mat-card class="vertical-margin">
          This is my wall here I can see what my friends are doing
        </mat-card>
      </div>
    </div>
    <!--Right Column-->
    <div class="col-md-3">
      <mat-card class="vertical-margin">
        <div class="vertical-margin">
          FRIENDS
        </div>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            <div>
              friend 1
            </div>
            <div class="chat chat-unavailable">
              <i class="material-icons">chat</i>
            </div>
          </mat-list-item>
          <mat-list-item>
            <div>
              friend 1
            </div>
            <div class="chat ">
              <i class="material-icons">chat</i>
            </div>
          </mat-list-item><mat-list-item>
          <div>
            friend 1
          </div>
          <div class="chat chat-unavailable">
            <i class="material-icons">chat</i>
          </div>
        </mat-list-item><mat-list-item>
          <div>
            friend 1
          </div>
          <div class="chat ">
            <i class="material-icons">chat</i>
          </div>
        </mat-list-item>
        </mat-list>
      </mat-card>
    </div>
  </div>
</div>
