<mat-toolbar color = "primary">
  <span>Set up!</span>
  <div class="container">
    <div class="row row-center"></div>
  </div>
</mat-toolbar>
<table class="example-full-width" cellspacing="0"><tr>
  <td><mat-form-field >
    <input matInput placeholder="First name">
  </mat-form-field></td>
  <td><mat-form-field >
    <input matInput placeholder="Surname">
  </mat-form-field></td>
</tr></table>
<mat-form-field >
  <textarea matInput placeholder="email"></textarea>
</mat-form-field>
<table ><tr>
  <td><mat-form-field >
    <input matInput placeholder="password">
  </mat-form-field></td>
  <
</tr></table>
